

body{
	width: 90%;
	margin: 0 auto;
	font-family: arial;
	background-color: rgb(105,105,105);}

#header{
	left: 25%;
	border: 2px solid #a9a9a9;
	padding: 5%;
	margin: 5%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;}


#infosection{
	margin: 5%;
	left: 25%;
	border: 2px solid #a9a9a9;
	padding: 5%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;}
.column1, .column2{
	border: 2px solid #a9a9a9;
	width: 46.95%;
	float:left;
	border-radius: 10px;}

.column2{ margin-right: 0%;}
.column3, .column4{
	border: 2px solid #a9a9a9;
	width: 46.95%;
	float: left;
	border-radius: 10px;}
.column4{margin-right: 0%;}




















